body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
}
.locations__ville{
    font-weight: 700;
}
h1 {
    font-family: 'Shrikhand', sans-serif;
    font-weight: 900;
    font-size: 2rem;
    font-style: italic;
}

h2{
    font-size: 1.7rem;
    margin-left: 20px;
    margin-bottom: 0%;
}

color-link-footer{
    color: white;
}