* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  padding: 0;
  margin: 0;
}

.-isaligned {
  padding: 0px 5% 0px 5%;
  text-align: center;
}

.fa-stack.small {
  font-size: 0.5em;
}

i {
  vertical-align: middle;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
}

.locations__ville {
  font-weight: 700;
}

h1 {
  font-family: "Shrikhand", sans-serif;
  font-weight: 900;
  font-size: 2rem;
  font-style: italic;
}

h2 {
  font-size: 1.7rem;
  margin-left: 20px;
  margin-bottom: 0%;
}

color-link-footer {
  color: white;
}

.spinner {
  position: fixed;
  z-index: -10;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 100vw;
  height: 100vh;
  color: #9356DC;
  animation: disparition 2s forwards;
}
.spinner img {
  width: 5rem;
  height: 5rem;
  animation: spinner 2s;
}

.locations__ville {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 10%;
  background-color: #eaeaea;
}
.locations__ville__icon {
  padding-right: 16px;
}
.locations__prev {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  background: #f6f6f6;
  text-align: center;
}
.locations__prev h2 {
  margin: 0px 5% 0px 5%;
}

.fonctionnement {
  display: flex;
  background-color: white;
  flex-direction: column;
}
.fonctionnement__container {
  display: flex;
  flex-direction: column;
}
.fonctionnement__etape {
  display: flex;
  align-items: center;
  margin-left: 10px;
}
.fonctionnement__etape__index {
  position: absolute;
  padding: 5px 10px 5px 10px;
  margin-left: 10px;
  border-radius: 20px;
  background: #9356DC;
  color: white;
  z-index: 2;
}
.fonctionnement__etape__texte {
  font-weight: 600;
  width: 100%;
  margin: 20px;
  padding: 0px 35px 0px 35px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
}
@media screen and (min-width: 768px) {
  .fonctionnement__etape__texte {
    margin-right: 4rem;
  }
}
.fonctionnement__etape__texte p {
  padding-left: 10px;
}
.fonctionnement__etape__texte .fa-solid {
  color: grey;
}

.restaurant {
  background: #f6f6f6;
  padding: 20px 0px 20px 0px;
}
.restaurant__container {
  display: flex;
  flex-direction: column;
}
.restaurant a:visited {
  color: black;
}
.restaurant__card {
  margin: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
}
.restaurant__card img {
  object-fit: cover;
  width: 100%;
  max-height: 200px;
  border-radius: 20px 20px 0px 0px;
}
.restaurant__card h3 {
  margin: 10px 0px 5px 15px;
}
.restaurant__card p {
  margin: 5px 0px 5px 15px;
}
.restaurant__card__layout {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.restaurant__card__layout .fa-regular {
  padding-right: 15px;
}
.restaurant__card__layout .fa-solid {
  color: white;
  padding-right: 15px;
}
.restaurant__card__new p {
  margin-left: 65%;
  padding: 5px;
  position: absolute;
  background-color: #99E2D0;
  z-index: 2;
  color: #32b091;
  border-radius: 5px;
}

.fonctionnement__etape__texte:hover {
  background-color: #f5edff;
}

.fonctionnement__etape__texte:hover > i {
  color: #9356DC;
}

.fa-stack:hover > .fa-solid {
  animation: coloration 1s forwards;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(1200deg);
    display: none;
  }
}
@keyframes disparition {
  0% {
    z-index: 10;
  }
  99% {
    z-index: 10;
  }
}
@keyframes coloration {
  from {
    color: white;
  }
  to {
    color: #9356DC;
  }
}
@media screen and (min-width: 768px) {
  .locations__ville {
    padding-right: 0%;
  }
  .restaurant {
    background: #f6f6f6;
  }
  .restaurant__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
  .restaurant__card {
    width: 40%;
  }
  .restaurant__card__new p {
    margin-left: 27%;
  }
}
@media screen and (min-width: 1000px) {
  .fonctionnement__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .restaurant__card__new p {
    margin-left: 30%;
  }
}
header {
  background-color: white;
  position: relative;
  width: 100%;
  padding: 20px 0px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.1);
}
header .header_logo {
  width: 200px;
}
header a {
  position: absolute;
  margin-left: -95%;
}
header a .fa-heart {
  color: black;
}

.btn {
  margin: 20px 0px 50px 0px;
  font-size: 1rem;
  border-radius: 50px;
  background: linear-gradient(344deg, rgb(147, 86, 220) 1%, rgb(255, 121, 218) 69%);
  color: white;
  font-weight: 700;
  padding: 0px 20px 0px 20px;
}

footer {
  background-color: #353535;
  color: white;
  height: 100%;
}
footer h1 {
  padding: 20px 0px 0px 35px;
  font-size: 25px;
  font-weight: 200;
}

footer h1 {
  margin-top: 0;
}

a {
  text-decoration: none;
}

footer a:visited {
  color: white;
}

ul {
  margin: 0% 0% 0% 0%;
  list-style-type: none;
}

li > a {
  line-height: 0px;
  display: flex;
  align-items: center;
}
li > a a {
  text-decoration: none;
}
li > a i {
  padding-right: 10px;
}

.maincontainer {
  display: flex;
  justify-content: center;
}

.img__container {
  top: 0;
  position: fixed;
  z-index: -100;
  width: 100vw;
  height: 100%;
}

.white {
  color: white;
}

.menu {
  width: 100%;
  z-index: 1;
  position: relative;
  background: white;
  margin-top: 200px;
  padding-top: 25px;
  border-radius: 20px 20px 0px 0px;
}
.menu h4 {
  margin: 40px 0px 15px 20px;
  font-weight: 200;
}
.menu h4::before {
  content: "";
  height: 2px;
  width: 50px;
  position: absolute;
  border-bottom: 3px solid #99E2D0;
  margin-top: 20px;
  padding-top: 5px;
}
.menu__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 10px 0px 10px;
}
.menu__card {
  opacity: 0;
  display: flex;
  align-items: center;
  margin: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);
  overflow: hidden;
}
.menu__card__check {
  margin-right: -100px;
  padding: 25px;
  color: white;
  background-color: #99E2D0;
}
.menu__card h3 {
  padding: 5px 5px 2px 5px;
  margin: 0;
  font-size: 20px;
}
.menu__card span {
  font-weight: 700;
  font-size: 15px;
  padding-top: 30px;
}
.menu__card p {
  font-size: 15px;
  padding: 5px;
  margin: 0%;
}
.menu__card__description {
  min-width: 0;
  display: flex;
  align-items: center;
  padding: 5px;
  justify-content: space-between;
  width: 100%;
}
.menu__card__description__text {
  width: 80%;
}
.menu__card__description__text p, .menu__card__description__text h3 {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn__container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn__container .btn {
  padding: 0px 50px 0px 50px;
}

.menu__card:hover .menu__card__check {
  transition: 0.3s;
  margin: 0;
}

.menu__card:hover .menu__card__check > i {
  transition: 0.5s;
  transform: rotate(360deg);
}

@keyframes apparition {
  from {
    transform: translateY(100px);
    opacity: 0%;
  }
  to {
    transform: translateY(0px);
    opacity: 100%;
  }
}
.menu__card:nth-child(1) {
  animation-name: apparition;
  animation-delay: 0ms;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.menu__card:nth-child(2) {
  animation-name: apparition;
  animation-delay: 200ms;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.menu__card:nth-child(3) {
  animation-name: apparition;
  animation-delay: 400ms;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.menu__card:nth-child(4) {
  animation-name: apparition;
  animation-delay: 600ms;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@media screen and (min-width: 982px) {
  .img__container {
    height: 150%;
  }
  .menu {
    width: 80%;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 760px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .menu__card {
    width: 30%;
  }
}

/*# sourceMappingURL=style.css.map */
