
.maincontainer{
    display: flex;
    justify-content: center
}
.img__container{
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index:-100;
    width: 100vw;
    height: 300px;
  
}
.white{
    color: white;
}
.menu{
    width: 100%;
    z-index: 1;
    position: relative;
    background: white;
    margin-top: 200px;
    padding-top: 25px;
    border-radius:  20px 20px 0px 0px;
    & h4{
        margin: 40px 0px 15px 20px;
        font-weight: 200;
    }
    & h4::before{
        content:'';
        height: 2px;
        width: 50px;
        position: absolute;
        border-bottom: 3px solid $colour-tertiary;
        margin-top: 20px;
        padding-top: 5px;
    }
    &__title{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0px 10px 0px 10px;
    }
    &__card{
        opacity: 0;
        display: flex;
        align-items: center;
        margin: 20px;
        background: white;
        border-radius: 20px;
        box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3);
        overflow: hidden;

        
        &__check{
            margin-right: -100px;                
            padding: 25px;
            color: white;
            background-color: $colour-tertiary;}

        & h3{
        
            padding: 5px 5px 2px 5px;
            margin: 0;
            font-size: 20px;
        }
        & span{
            font-weight: 700;
            font-size: 15px;
            padding-top: 30px;
        }
        & p{
            font-size: 15px;
            padding: 5px;
            margin: 0%;
        }
        &__description{
            min-width: 0;
            display: flex;
            align-items: center ;
            padding: 5px;
            justify-content: space-between;
            width: 100%;
            &__text{
                width: 80%;
                & p,h3{
                width: 100%;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
                }

            }
        }
       
    }

}

.btn__container{
    display: flex;
    justify-content: center;
    align-items: center;
    & .btn{
        padding: 0px 50px 0px 50px;
    }
}


.menu__card:hover .menu__card__check{
    transition: 0.3s;
    margin:0; 
  
}
.menu__card:hover .menu__card__check>i{
    transition: 0.5s;
    transform: rotate(360deg);
}




@keyframes apparition{
           
    from{
        transform: translateY(100px);
        opacity: 0%;
        
    }
    to{
        transform: translateY(0px);
        opacity: 100%;
        
    }
    }

@for $i from 1 through 4 {
    .menu__card:nth-child(#{$i}){
        
        animation-name: apparition;
        animation-delay: $timing+ms;
        animation-duration: 1s;
        animation-fill-mode: forwards;

    }
    $timing:$timing+200;
}

@media screen and (min-width: 982px){
.img__container{
    flex-direction: row;
  height: 150%;  
  top:0;
  position:fixed;
  z-index:-100;
  width: 100vw;

}
.menu{
width: 80%;
margin-bottom: 0;
}
}

@media screen and (min-width: 760px){
    .container{
        display: flex;
        justify-content: center;
    }
    .menu__card{
        width: 30%;
    }
    }
    
  