.spinner {
    position: fixed;
    z-index: -10;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 100vw;
    height: 100vh;
    color: $colour-primary;
    animation: disparition 0.2s forwards;

    & img {
        width: 5rem;
        height: 5rem;
        animation: spinner 2s;
    }
}

.locations {
    &__ville {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10%;
        background-color: #eaeaea;

        &__icon {
            padding-right: 16px;
        }
    }

    &__prev {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 50px;
        background: $colour-grey;
        text-align: center;

        & h2 {
            margin: 0px 5% 0px 5%;
        }
    }
}

.fonctionnement {
    display: flex;
    background-color: white;
    flex-direction: column;
    &__container{
        display: flex;
        flex-direction: column;
    }

    &__etape {
       
        display: flex;
        align-items: center;

        margin-left: 10px;
        &__index{
            position:absolute;
            padding: 5px 10px 5px 10px;
            margin-left: 10px;

            border-radius: 20px;
            background: $colour-primary;
            color: white;
            z-index: 2;
        }
        &__texte{
            @media screen and (min-width:768px){
                margin-right: 4rem;
            }
            font-weight: 600;
            width: 100%;
            margin: 20px;
            padding:0px 35px 0px 35px;
            display: flex;
            align-items: center;
            border-radius: 15px;
            box-shadow: 0 3px 8px 0 rgba(0,0,0,0.3);
            & p{
                padding-left: 10px;
            }
            & .fa-solid {
                color: grey;
            }
            }    
    }
}

.restaurant {

    background: $colour-grey;
    padding: 20px 0px 20px 0px;
    &__container{
        display: flex;
        flex-direction: column;
    }
    & a:visited{
        color: black;
    }
    &__card {

        margin: 20px;
        background: white;
        border-radius: 20px;
        box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.3);

        & img {
            object-fit: cover;
            width: 100%;
            max-height: 200px;
            border-radius: 20px 20px 0px 0px;
        }

        & h3 {
            margin: 10px 0px 5px 15px;
        }

        & p {
            margin: 5px 0px 5px 15px
        }

        &__layout {
            display: flex;
            align-items: center;
            justify-content: space-between;

            & .fa-regular {
                padding-right: 15px;
            }
            & .fa-solid{
                color: white;
                padding-right: 15px;
            }
        }

        &__new {
            & p {
                margin-left: 65%;
                padding: 5px;
                position: absolute;
                background-color: $colour-tertiary;
                z-index: 2;
                color: darken($colour-tertiary, 30%);
                border-radius: 5px
            }
        }
    }
}

.fonctionnement__etape__texte:hover {
    background-color: #f5edff
}

.fonctionnement__etape__texte:hover>i {
    color: $colour-primary;
}

.fa-stack:hover > .fa-solid {
    animation: coloration 1s forwards;
}

@keyframes spinner {

    from {
        transform: rotate(0deg);

    }

    to {
        transform: rotate(1200deg);
        display: none;
    }
}

@keyframes disparition {

    0% {

        z-index: 10;
    }

    99% {
        z-index: 10;
    }
}

@keyframes coloration{
    from{
        color: white;
    }
    to{
        color: $colour-primary;
    }
}
@media screen and (min-width:768px){

    .locations {
        &__ville {
            padding-right: 0%;
        }
    }

    .restaurant {
        background: $colour-grey;
        &__container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        }
        &__card {
            width: 40%;
       
        &__new {
            & p {
                    margin-left: 27%;
            }
            }
        }
    }
    }

    @media screen and (min-width:1000px){
        .fonctionnement{
            &__container{
                display: flex;
                flex-direction: row;
                justify-content: center;
            }
        
        }
 
        .restaurant {
            &__card {
            &__new {
                & p {
                        margin-left: 30%;
                }
                }
            }
        }
    }
    