@mixin btn {
margin: 20px 0px 50px 0px;
font-size: 1rem;
border-radius: 50px;
background: linear-gradient(344deg, rgba(147,86,220,1) 1%, rgba(255,121,218,1) 69%);
color: white;
font-weight: 700;
padding: 0px 20px 0px 20px;
}

